body {
  margin: 0;
  font-family: -apple-system, 'Oxygen',
    'Helvetica Neue',
    sans-serif;
  /* font-family: 'Bebas Neue', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
